<form [formGroup]="form" (ngSubmit)="saveUser($event)">
  <div class="fullName">
    <label> Full Name: {{ fullNameField?.value }} </label>
    <div class="form-group">
      <input formControlName="fullName" placeholder="Kevin Bueno" type="text" />
    </div>
    <ng-container
      *ngFor="let validation of utilsService.validationMessages.full_name"
    >
      <small
        *ngIf="fullNameField?.hasError(validation.type) && fullNameFieldDirty"
      >
        {{ validation.message }}
      </small>
    </ng-container>
  </div>
  <div class="email">
    <label> Email: {{ emailField?.value }} </label>
    <div class="form-group">
      <input
        formControlName="email"
        placeholder="k@kevinbueno.dev"
        type="email"
      />
    </div>
    <ng-container
      *ngFor="let validation of utilsService.validationMessages.email"
    >
      <small *ngIf="emailField?.hasError(validation.type) && emailFieldDirty">
        {{ validation.message }}
      </small>
    </ng-container>
  </div>
  <div class="phone">
    <label> Phone: {{ phoneField?.value }} </label>
    <div class="form-group">
      <input formControlName="phone" placeholder="3212986763" type="tel" />
    </div>
    <ng-container
      *ngFor="let validation of utilsService.validationMessages.phone"
    >
      <small *ngIf="phoneField?.hasError(validation.type) && phoneFieldDirty">
        {{ validation.message }}
      </small>
    </ng-container>
  </div>
  <div class="age">
    <label> Age: {{ ageField?.value }} </label>
    <div class="form-group">
      <input formControlName="age" placeholder="23" type="number" />
    </div>
    <ng-container
      *ngFor="let validation of utilsService.validationMessages.age"
    >
      <small
        *ngIf="ageField?.hasError(validation.type) && ageFieldDirty"
      >
        {{ validation.message }}
      </small>
    </ng-container>
  </div>
  <div>
    <br />
    <button type="submit" [disabled]="form.invalid">Save user</button>
  </div>
</form>
